*{
    font-family: lato;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    position: inherit;
    max-width: 100%;
}
h1 a{
    padding-top: 15px;
    margin-top: 20px;
    color: #FFD97A;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
header h2{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: lighter;
}
header nav a{
    color: gainsboro;
    padding: 2px;
    margin: 10px;
    margin-left: 15px;
    font-size: 15px;
    border-bottom: solid 1px gainsboro;
    text-decoration: none;
    display: inline;
}
article h3{
    color: gainsboro;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-left: 2px;
    text-align: left;
    padding-top: 40px;
}
h2 a{
    font-weight: lighter;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
}
img{
    padding-top: 10px;
}
p{
    color: gray;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}
 article p::first-letter {
    font-size: 6em;
    float: left;
    display: none;
    color: gainsboro;
}
h4 a{
    text-decoration: none;
    float: right;
    color: #FFD97A;
    border-bottom:1px solid lightgray;
    padding-bottom: 30px;
}
article {
    max-width: 90%;
    margin-bottom: 30px;
}
footer nav a{
    color: #FFD97A;
    margin-top: 55px;
    margin-bottom: 25px;
    display:inline-block;
}
nav {
    color: lightgray;
    padding: 2px;
}
footer p{
    margin-top: 15px;
    margin-bottom: 40px;
}